
@{
    ViewBag.Title = "ACLSNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ACLSNotes</h2>


<img src="~/Respiratory/images/220px-beating-heart-animation-197679.gif" />

<div>Is it safe to approach?</div>
<div>
    1. Assess the victim's responsiveness.
    <div class="question">Tap the victim’s shoulder and shout “Are you okay?”</div>
    <div class="answer">I'm ok
        <div>Just checking to see if you ok. Bye.</div>
    </div>
    <div class="answer">No response.
        <div class="observation">Check to see if the victim is breathing by looking at their chest. If they are not breathing, or not breathing normally (only gasping), call 911.</div>
    </div>
</div>

<div>    
    2. Activate EMS (Emergency Medical Response) by calling 911.
</div>

<div>
    3. Retrieve a defibrillator, usually an automatic external defibrillator (AED).
</div>

<div>
    4. The algorithm proceeds in a loop of CPR and rhythm checks with defibrillation.
</div>

<div>
    5. Check PULSE before chest compressions for at least five seconds and no more than ten seconds.
</div>

<div>
    6.  CPR: push hard and fast. Begin chest compressions before ventilation. Chest compressions allow blood flow to the heart and brain. Delays in chest compressions result in diminished survival.
</div>

<div>
    7. For effective breathing, watch for chest rise and avoid excessive ventilation. 10 to 12 BREATHS should be delivered each minute, or one breath every five to six seconds. Each breath should be delivered over 1 second. Observe visible chest rise.
</div>

<div>
    Avoid gastric inflation, as it may result in aspiration, pneumonia or vomiting.
</div>

<div>
    8. The ratio of chest compressions to breaths is 30 to 2.
</div>

<div>
    9. Recheck the patient every five cycles (of 30:2).
</div>

<div>
    10.   After the defibrillator becomes available, check rhythm. USE THE AED WHEN INDICATED AND AVAILABLE.  The victim should receive a shock that is repeated every two minutes or 5 cycles.
</div>

"Look, listen, and feel" is no longer part of the BLS algorithm. The emphasis is on high quality CPR.