<link href="~/Content/myResponsiveTable.css" rel="stylesheet" />

<select id="UserSelect">
    <option>Hieu</option>

</select>
<select id="UserSelect">
    <option>Latest Month</option>
    <option>Latest 3 Months</option>
    <option>Latest 6 Months</option>
    <option>Current Year</option>
    <option>DatePicker</option>

</select>

<input type="text" placeholder="ChooseYourDateBegin"/>
<input type="text" placeholder="ChooseYourDateEnd" />

<br />
//Income
<table style="width:50%;">
    <tr>
        <td>Income</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Wages</td>
        <td>56</td>
    </tr>
    <tr>
        <td colspan="2"><input id="AddNewIncomeType" type="button" value="Add New Income Type" /></td>
        
    </tr>
</table>

//Budget Summary
<table style="width:50%;">
    <tr>
        <td>X</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

//House Expense
<table style="width:50%;">
    <tr>
        <td>House Expense</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

//Transportation
<table style="width:50%;">
    <tr>
        <td>Transportation</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

//Daily Living
<table style="width:50%;">
    <tr>
        <td>Daily LIving</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>


//Health
<table style="width:50%;">
    <tr>
        <td>Health</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

//Entertainment
<table style="width:50%;">
    <tr>
        <td>Entertainment</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

//Pets
<table style="width:50%;">
    <tr>
        <td>Pets</td>
        <td>Amount $</td>
    </tr>
    <tr>
        <td>Total Income</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Total Expense</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Net</td>
        <td>567</td>
    </tr>
</table>

<table class="rwd-table">
    <tr>
        <th>Movie Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Gross</th>
    </tr>
    <tr>
        <td data-th="Movie Title">Star Wars</td>
        <td data-th="Genre">Adventure, Sci-fi</td>
        <td data-th="Year">1977</td>
        <td data-th="Gross">$460,935,665</td>
    </tr>
    <tr>
        <td data-th="Movie Title">Howard The Duck</td>
        <td data-th="Genre">"Comedy"</td>
        <td data-th="Year">1986</td>
        <td data-th="Gross">$16,295,774</td>
    </tr>
    <tr>
        <td data-th="Movie Title">American Graffiti</td>
        <td data-th="Genre">Comedy, Drama</td>
        <td data-th="Year">1973</td>
        <td data-th="Gross">$115,000,000</td>
    </tr>
</table>